h1 {
    text-align: center;
}
.navbar {
    background-color: #f4a261;
    color: #000000;
    overflow: visible;
    font-family: Arial, sans-serif;
    width: 100%;
}

.nav-link {
    background-color: #f4a261;
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    font-size: 17px;
    font-weight: bold;
    
}

.nav-link:hover {
    background-color: #e9c46a;
    color: black;
}

@media screen and (max-width: 600px) {
    .nav-link {
        float: none;
        width: 100%;
    }
}


.nav-link {
    background-color: #f4a261;
    float: left;
    display: block;
    color: #5f5e5e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-link:hover {
    background-color: #e9c46a;
    color: black;
}

@media screen and (max-width: 600px) {
    .nav-link {
        float: none;
        width: 100%;
    }
}
